<!-- Header -->
{{#commonHeaderFooterData}}

  <section class="hz-header-wrap">

    <div class="container-full">
      <div class="row">
        <div class="col-md-12">
          <!-- Header starts -->
          {{#header}}
            <div class="header">
              <div class="wrapper">
                <div class="top-container">
                  <!--	<a href="#" class="icon-home">
			          		<img src="../../images/tepezza/icon-home.png" alt="">
			          	</a>-->
                  <div class="gout-box green-bg visible-desktop">
                    <p>Questions? Call a <br>Nurse at:<br> <a href="tel:0">1-833-483-7399</a></p>
                  </div>

                  <div class="top-nav-links visible-desktop">
                    {{>starterkit-molecules-top-navigation}}
                  </div>
                  <div class="logo-wrapper">
                    <div class="logo">
                      <a href="#" class="logo-container">
                        {{>starterkit-atoms-logo}}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="bottom-container">
                  <div class="nav-wrapper">
                    <div class="hamburger visible-mobile">
                      <div class="menuIcon">
                      </div>
                    </div>
                    <div class="menu-wrapper">
                      <div class="nav-bar">
                        <a href="#" class="icon-home visible-desktop">
                          <img src="../../images/tepezza/icon-home.png" alt="" class="icon-inactive">
                          <img src="../../images/tepezza/icon-home-hover.png" alt="" class="icon-active">
                        </a>
                        {{>starterkit-molecules-main-navigation}}
                        <div class="top-nav-links visible-mobile">
                          {{>starterkit-molecules-top-navigation}}
                        </div>
                      </div>
                    </div>
                    <div class="col search">
                      <span class="search-toggle"></span>
                      <div class="search-inner">
                        {{>starterkit-molecules-header-search}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/header}}
          <!-- Header ends -->
        </div>
      </div>
    </div>

    <div class="gout-box green-bg">
      <p>Questions? Call a Nurse at: <br><a href="tel:0">1-833-483-7399</a></p>
      <a href="#" class="close-icon"><img src="../../images/tepezza/remove.png" alt=""></a>
    </div>
  </section>
{{/commonHeaderFooterData}}



<!-- Thank you page -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {{#thankyoupage}}

          {{>starterkit-molecules-heading-with-paragraph}}
          {{>starterkit-atoms-button}}
        {{/thankyoupage}}

      </div>
    </div>
  </div>
</section>


<br><br><br><br><br><br>

<!-- Isi section -->
<section class="important-information">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>tepezza-organisms-tepezza-isi}}
      </div>
    </div>
  </div>
</section>

<section>
</section>

<section>
  {{#isiFixedSelector}}
    {{>tepezza-organisms-tepezza-isi}}
  {{/isiFixedSelector}}
</section>
<!-- isi Fixed panel -->
<!-- Footer -->
{{#commonHeaderFooterData}}
  <!-- Footer -->
  <section class="hz-footer-wrapper mb0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{>tepezza-organisms-footer}}
        </div>
      </div>
    </div>
  </section>
{{/commonHeaderFooterData}}