{{# twoColumnContentSplitVariation2 }}

  <div class="col-md-{{ColVal}}">
    <div class="twoColumnContentSplit {{bg-color-left}} {{padding}} {{bg-color}}">

      <div class="vertical-align">
        {{#para}}
          {{>starterkit-atoms-paragraph}}
        {{/para}}

        {{>starterkit-atoms-images}}


        {{#subDesc}}
          {{>starterkit-atoms-paragraph}}
        {{/subDesc}}
      </div>
    </div>
  </div>

  {{/twoColumnContentSplitVariation2}}