/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


$white: #ffffff;
$black: #000000;
$dark-purple:#7c2468;
$grey:#d8d8d8;
$pink:#d61a7d;
$white-30:rgba(216, 216, 216, 0.3);
/* Fonts */


/* Media Queries */
$mobile: 767px;
$tablet-start:768px;
$tablet:1023px;
$desktop:1024px;


