{{#commonHeaderFooterData}}
  <div class="hz-header-space"></div>
  <section class="hz-header-wrap">
    <div class="gout-box grey-bg">
      <p>A Gout Nurse Advocate can answer<br> your questions. <a href="tel:0">Call 833-4MY-GOUT</a></p>
      <a href="#" class="close-icon"><img src="../../images/krystexxa/remove.png" alt=""></a>
    </div>
    <div class="container-full">
      <div class="row">
        <div class="col-md-12">
          <!-- Header starts -->
          {{#header}}
            <div class="header">
              <div class="wrapper">
                <div class="top-container">
                  <a href="#" class="icon-home visible-mobile">
                    <img src="../../images/krystexxa/icon-home.svg" alt="">
                  </a>
                  <div class="logo-wrapper">
                    <div class="logo">
                      <a href="#" class="logo-container">
                        {{>starterkit-atoms-logo}}
                      </a>
                    </div>
                  </div>
                  <div class="top-nav-links visible-desktop">
                    {{>starterkit-molecules-top-navigation}}
                  </div>
                  <div class="gout-box grey-bg visible-desktop">
                    <p>A Gout Nurse Advocate can <br>answer your questions.<br> <a href="tel:0">Call 833-469-4688</a></p>
                  </div>
                </div>
                <div class="bottom-container">
                  <div class="nav-wrapper">
                    <div class="hamburger visible-mobile">
                      <div class="menuIcon">
                      </div>
                    </div>
                    <div class="menu-wrapper">
                      <div class="nav-bar">
                        <a href="#" class="active icon-home visible-desktop">
                          <img src="../../images/krystexxa/icon-home.svg" alt="">
                        </a>
                        {{>starterkit-molecules-main-navigation}}
                        <div class="top-nav-links visible-mobile">
                          {{>starterkit-molecules-top-navigation}}
                        </div>
                      </div>
                    </div>
                    <div class="col search">
                      <span class="search-toggle"></span>
                      <div class="search-inner">
                        <div class="search-field">
                          {{>starterkit-molecules-header-search}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/header}}
          <!-- Header ends -->
        </div>
      </div>
    </div>
  </section>
{{/commonHeaderFooterData}}
<section class="bg-lightGrey">
  <div class="container-full">
    <div class="banner-container">
      <style>
        .fullwidth-banner {
          background: none !important;

        }

        .video-section-banner {
          margin: 25px 0 0 25px;
        }

        .video-section-banner video {
          width: 100%;
          height: auto;
        }

        .video-section-banner img {

          height: auto;
          width: 100%;
        }
      </style>
      {{>starterkit-molecules-video-banner}}
      <div class="fullwidth-banner"></div>
      <div class="fullwidth-banner-content">
        <p class="banner-small-text">For adults with chronic gout that hasn’t been controlled with other treatments</p>
        <h1>IF YOU HAVE MORE THAN ONE FLARE A YEAR, IT MAY BE TIME TO STEP UP YOUR TREATMENT</h1>
        <h3></h3>
        <p>Recurrent gout flares may be your body’s way of telling you that oral medicines aren’t doing enough to lower your uric acid level and prevent the harmful effects of out-of-control chronic gout. KRYSTEXXA has been helping gout patients for nearly 10 years. Studies show that one IV treatment every other week for about 6 months is all you may need to take control.</p>
        <div class="banner-button"><a href="https://www.krystexxa.com/gout-treatment/" ga-tag="internal" class="cta-btn">How KRYSTEXXA is different</a><a href="https://www.krystexxa.com/uncontrolled-chronic-gout/quiz/" ga-tag="internal" class="cta-btn">Is my gout out of control? Quiz</a></div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<!-- Isi section -->
<!-- <section class="important-information">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-isi-selector}}
      </div>
    </div>
  </div>
</section> -->
<!-- isi Fixed panel -->
<!-- <section>
  {{#isiFixedSelector}}
  {{>starterkit-organisms-isi-selector}}
  {{/isiFixedSelector}}
</section> -->
<!-- Footer -->
{{#commonHeaderFooterData}}
  <section class="hz-footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{>starterkit-organisms-footer-generic}}
        </div>
      </div>
    </div>
  </section>
{{/commonHeaderFooterData}}