{{# twoColumnContentSplitVariation3 }}

  <div class="col-md-{{ColVal}}">
    <div class="twoColumnContentSplit {{bg-color-left}} {{padding}} {{bg-color}}">

      {{> starterkit-organisms-text-with-image}}

      {{#para}}
        {{>starterkit-atoms-paragraph}}
      {{/para}}

      {{>starterkit-atoms-images}}


      {{#subDesc}}
        {{>starterkit-atoms-paragraph}}
      {{/subDesc}}

      {{#list-content}}
        <div class="list-content">
          <div>
            {{#para1}}
              {{>starterkit-atoms-paragraph}}
            {{/para1}}
          </div>
          <hr>
          <div>
            {{#para2}}
              {{>starterkit-atoms-paragraph}}
            {{/para2}}
          </div>
        </div>
      {{/list-content}}


    </div>
  </div>

  {{/twoColumnContentSplitVariation3}}