{{#isiSelectorKrystexxa}}
  <div class="isi-tray-wrapper {{selectorFixedClass}}">
    <div class="isi-tray-main-div">
      {{>starterkit-atoms-headings}}
      {{#headPara}}
        {{>starterkit-atoms-headings}}
      {{/headPara}}
      <div class="buttons">
        {{>starterkit-atoms-links}}
      </div>
      {{#subHeadingIsi}}
        {{>starterkit-atoms-headings}}
        {{>starterkit-atoms-paragraph}}
      {{/subHeadingIsi}}
      <div class="isi-content-body">
        {{#subHeading}}
          {{>starterkit-atoms-headings}}
        {{/subHeading}}
        {{#isiTop}}
          {{>starterkit-molecules-heading-with-paragraph}}
          {{>starterkit-atoms-list}}
        {{/isiTop}}
        {{#isiCenter}}
          {{>starterkit-molecules-heading-with-paragraph}}
          {{>starterkit-atoms-list}}
          {{#centerPara}}
            {{>starterkit-atoms-paragraph}}
          {{/centerPara}}
        {{/isiCenter}}
        {{#isiBottom}}
          {{>starterkit-molecules-heading-with-paragraph}}
        {{/isiBottom}}
      </div>
    </div>
  </div>
{{/isiSelectorKrystexxa}}