{{#contentCarousal}}
<div class="content-carousel-wrap {{carousalWrapperClass}}">
	
	<div class="content-carousel {{carousalName}}">
		{{#carousalContent}}
		<div class="carousal-content">
			<div class="">
				{{>starterkit-atoms-images}}
				{{>starterkit-atoms-headings}}
				{{#para}}
					{{>starterkit-atoms-paragraph}}
				{{/para}}
			</div>
		</div>
		{{/carousalContent}}
	</div>
</div>
{{/contentCarousal}}