{{#contentBoxWithImageWrapper}}
	<div class="content-box-with-image box-image-left">
		<div class="box-image">
        	{{>starterkit-atoms-images}}
      	</div>
        <div class="content-box-text">
        	{{>starterkit-atoms-headings}}
			{{>starterkit-atoms-paragraph}}
			{{>starterkit-atoms-list}}
        </div>
	</div>			
{{/contentBoxWithImageWrapper}}