{{#verticalTimeline}}
<div class="timeline">
  {{#sectionSetOne}}
  <div class="timeline-wrapper {{bg-color}}">
    {{#bgDiv}}
    <div class="background-div {{floatClass}}">
      {{>starterkit-atoms-headings}}
    </div>
    {{/bgDiv}}
    <div class="timeline-content">
      {{#colContentOne}}
      <div class="row {{rowClass}}">
        {{#leftColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
        </div>
        {{/leftColumn}}
        {{#rightColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
          <div class="content-parent">
            {{>starterkit-atoms-images}}
            {{>starterkit-molecules-heading-with-paragraph}}
          </div>
        </div>
        {{/rightColumn}}
      </div>
      {{/colContentOne}}
      {{#colContentTwo}}
      <div class="row {{rowClass}}">
        {{#leftColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
          <div class="content-parent">
            {{>starterkit-atoms-images}}
            {{>starterkit-molecules-heading-with-paragraph}}
          </div>
        </div>
        {{/leftColumn}}
        {{#rightColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
        </div>
        {{/rightColumn}}
      </div>
      {{/colContentTwo}}
      {{#colContentThree}}
      <div class="row {{rowClass}}">
        {{#leftColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
        </div>
        {{/leftColumn}}
        {{#rightColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
          <div class="content-parent">
            {{>starterkit-atoms-images}}
            {{>starterkit-molecules-heading-with-paragraph}}
          </div>
        </div>
        {{/rightColumn}}
      </div>
      {{/colContentThree}}
      {{#colContentFour}}
      <div class="row {{rowClass}}">
        {{#leftColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
          <div class="content-parent">
            {{>starterkit-atoms-images}}
            {{>starterkit-molecules-heading-with-paragraph}}
          </div>
        </div>
        {{/leftColumn}}
        {{#rightColumn}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
        </div>
        {{/rightColumn}}
      </div>
      {{/colContentFour}}
    </div>
  </div>
  {{/sectionSetOne}}

  {{#sectionSetTwo}}
  <div class="timeline-wrapper {{bg-color}}">
    {{#bgDiv}}
    <div class="background-div {{floatClass}}">
      {{>starterkit-atoms-headings}}
    </div>
    {{/bgDiv}}
    <div class="timeline-content">
      {{#topRow}}
      <div class="row {{rowClass}}">
        {{#leftContent}}
      <div class="col-md-{{gridNumber}} {{classFloat}} {{vposition}}">
 		          {{#videoWrap}}
          {{>starterkit-molecules-heading-with-paragraph}}
   {{>starterkit-organisms-video-box}}
          {{/videoWrap}}
            </div>
        {{/leftContent}}
        {{#rightContent}}
        <div class="col-md-{{gridNumber}} {{classFloat}} ">
        	  {{>starterkit-atoms-images}}
          {{>starterkit-molecules-heading-with-paragraph}}
          {{>starterkit-organisms-icon-list}}
          <div class="bordered-rectangle">
            {{#borderedRectangle}}
            {{>starterkit-atoms-images}}
            {{/borderedRectangle}}
          </div>
          {{#rightBottom}}
          <div class="right-bottom-content">
            {{>starterkit-atoms-images}}
            {{>starterkit-atoms-paragraph}}
          </div>
          {{/rightBottom}}
        </div>
        {{/rightContent}}
      </div>
      {{/topRow}}
      {{#bottomRow}}
      <div class="row {{rowClass}}">
        {{#contentParent}}
        <div class="col-md-{{gridNumber}} {{floatClass}} {{vposition}}">
          {{>starterkit-atoms-images}}
          {{>starterkit-molecules-heading-with-paragraph}}
        </div>
        {{/contentParent}}
      </div>
      {{/bottomRow}}
    </div>
  </div>
  {{/sectionSetTwo}}
  {{#sectionSetThree}}
  <div class="timeline-wrapper {{bg-color}}">
    {{#bgDiv}}
    <div class="background-div {{floatClass}}">
      {{>starterkit-atoms-headings}}
    </div>
    {{/bgDiv}}
    <div class="timeline-content">
      {{#colContent}}
      <div class="row {{rowClass}}">
        {{#leftContent}}
        <div class="col-md-{{gridNumber}} ">
          {{>starterkit-atoms-images}}
        </div>
        {{/leftContent}}
        {{#rightContent}}
        <div class="col-md-{{gridNumber}} {{classFloat}}">
          <div class="content-parent">
            {{#contentDiv}}
            {{>starterkit-atoms-images}}
            {{>starterkit-atoms-headings}}
            {{#contentBlock}}
          </div>
          <div class="content-flex">
            {{>starterkit-atoms-images}}
            {{>starterkit-atoms-paragraph}}
          </div>
          {{/contentBlock}}
          {{>starterkit-atoms-paragraph}}
          {{/contentDiv}}
        </div>
        {{/rightContent}}
      </div>
      {{/colContent}}
    </div>
  </div>
  {{/sectionSetThree}}
</div>
</div>
{{/verticalTimeline}}
