<!-- Header -->
{{#commonHeaderFooterData}}
  <section class="hz-header-wrap">
    <div class="container-full">
      <div class="row">
        <div class="col-md-12">
          <!-- Header starts -->
          {{#header}}
            <div class="header">
              <div class="wrapper">
                <div class="top-container">
                  <!--  <a href="#" class="icon-home">
                    <img src="../../images/tepezza/icon-home.png" alt="">
                  </a>-->
                  <div class="gout-box green-bg visible-desktop">
                    <p>Questions? Call a <br>Nurse at:<br> <a href="tel:0">1-833-483-7399</a></p>
                  </div>
                  <div class="top-nav-links visible-desktop">
                    {{>starterkit-molecules-top-navigation}}
                  </div>
                  <div class="logo-wrapper">
                    <div class="logo">
                      <a href="#" class="logo-container">
                        {{>starterkit-atoms-logo}}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="bottom-container">
                  <div class="nav-wrapper">
                    <div class="hamburger visible-mobile">
                      <div class="menuIcon">
                      </div>
                    </div>
                    <div class="menu-wrapper">
                      <div class="nav-bar">
                        <a href="#" class="icon-home visible-desktop">
                          <img src="../../images/tepezza/icon-home.png" alt="" class="icon-inactive">
                          <img src="../../images/tepezza/icon-home-hover.png" alt="" class="icon-active">
                        </a>
                        {{>starterkit-molecules-main-navigation}}
                        <div class="top-nav-links visible-mobile">
                          {{>starterkit-molecules-top-navigation}}
                        </div>
                      </div>
                    </div>
                    <div class="col search">
                      <span class="search-toggle"></span>
                      <div class="search-inner">
                        {{>starterkit-molecules-header-search}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/header}}
          <!-- Header ends -->
        </div>
      </div>
    </div>
    <div class="gout-box green-bg">
      <p>Questions? Call a Nurse at: <br><a href="tel:0">1-833-483-7399</a></p>
      <a href="#" class="close-icon"><img src="../../images/tepezza/remove.png" alt=""></a>
    </div>
  </section>
{{/commonHeaderFooterData}}
<h1 style="text-align: center;">base styles </h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>h1styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</h1>
      <h2>h2styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</h2>
      <h3>h3styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</h3>
      <h4>h4styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</h4>
      <p> paragraph styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</p>
      <a href="#"> link styles ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U</a>
    </div>
  </div>
</div>
</section>
<h1 style="text-align: center;">Accordion List </h1>
<section>
  {{>tepezza-organisms-accordion-list}}
</section>
<br><br><br><br>
<h1 style="text-align: center;">Back to Top </h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>tepezza-organisms-back-to-top}}
      </div>
    </div>
  </div>
</section>
<br><br><br><br>
<h1 class="text-center">cta content </h1>
<section>
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">
        <div class="cta-content-wrapper">
          <a href="#">
            <h3>Doctor Discussion Guide</h3>
            <p>Use the Doctor Discussion Guide to help you prepare for your appointment with a TED specialist.</p>
            <p><button class="cta-btn cta-download">Download</button></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br>




<h1 class="text-center">only list basic </h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Graves’ orbitopathy</li>
          <li>Graves’ ophthalmopathy</li>
          <li>Graves’ eye disease</li>
          <li>Graves’ disease eyes</li>
          <li>Thyroid-associated ophthalmopathy</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<h1 class="text-center">two column content split </h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="twoColumnContentSplit">
          <img src="../../images/tepezza/before-1.png" alt="Image of a patient with thyroiud eye disease before treatment" tabindex="0">
          <p class="center-left" style="text-align: center;" tabindex="0"><strong>Before TEPEZZA</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="twoColumnContentSplit">
          <img src="../../images/tepezza/after-1.png" alt="Image of a patient with thyroiud eye disease after treatment" tabindex="0">
          <p style="text-align: center;" tabindex="0"><strong>After Treatment (Week 24)</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br><br>
<h1 class="text-center">two column content split variation 1 </h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="twoColumnContentSplit">
          <h4 tabindex="0">How Thyroid Eye Disease affects the eyes</h4>
          <p tabindex="0"><img src="../../images/tepezza/proptosis-front-view.svg" alt="proptosis-front-view"></p>
          <ul>
            <li>During the progressing (or “active”) phase of TED, a special switch called a receptor gets turned on</li>
            <li>Once on, the receptor makes the muscle and fat tissue become swollen, causing symptoms like eye bulging, double vision, pain, and redness</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="twoColumnContentSplit">
          <h3 tabindex="0">How TEPEZZA treats TED</h3>
          <p tabindex="0"><img src="../../images/tepezza/post-proptosis-front-view.svg" alt="post proptosis front view"></p>
          <ul>
            <li>TEPEZZA is the only medicine that blocks this receptor to treat TED at its source</li>
            <li>By blocking the receptor, TEPEZZA reduces muscle and fat tissue swelling and improves TED symptoms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<h1 style="text-align: center;">hr tag </h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr class="solid-border">
    </div>
  </div>
</div>
</section>
<br><br><br><br>
<h1 style="text-align: center;">button</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{>starterkit-atoms-button}}
    </div>
  </div>
</div>
</section>
<h1 style="text-align: center;">list item : image bullet</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="image-bullet">
        <li>
          What happens behind the eye?
          <ul>
            <li>Muscle and fat tissue become swollen</li>
            <li> Swelling pushes on the back of the eye, causing it to bulge forward</li>
            <li>Scarring (known as fibrosis) starts, causing damage to the eye</li>
          </ul>
        </li>
        <li>
          What happens in the front of the eye?
          <p>Symptoms first appear, like:</p>
          <ul>
            <li>Redness</li>
            <li>Swelling</li>
            <li>Bulging eyes—known as proptosis (prop-toe-sis) or exophthalmos (ek-sof-thal-muhs)</li>
            <li>Pulled back eyelids</li>
          </ul>
          <a href="#">
            Get a complete list of Thyroid Eye Disease symptoms here</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
<h1 style="text-align: center;">multi-column-content-new variation 1</h1>
<section>
  <div class="container">
    <div class="row">
      {{#threecolumn}}
        {{>tepezza-organisms-new-multi-column-content}}
      {{/threecolumn}}
    </div>
  </div>
</section>
<h1 style="text-align: center;">multi-column-content variation 2</h1>
<section>
  <div class="container">
    <div class="row">
      {{#fourcolumn}}
        {{>tepezza-organisms-new-multi-column-content}}
      {{/fourcolumn}}
    </div>
  </div>
</section>
<h1 style="text-align: center;">multi-column-content variation 3</h1>
<section>
  <div class="container">
    <div class="row">
      {{#threecolumnwithborder}}
        {{>tepezza-organisms-new-multi-column-content}}
      {{/threecolumnwithborder}}
    </div>
  </div>
</section>
<h1 style="text-align: center;">image-text-box </h1>
<section class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>tepezza-organisms-image-text-box}}
      </div>
    </div>
  </div>
</section>
<h1 style="text-align: center;">multi-column-content:2nd variation</h1>
<section>
  <div class="container">
    <div class="row">
      {{#threecolumn}}
        {{>starterkit-organisms-multi-column-content}}
      {{/threecolumn}}
    </div>
  </div>
</section>
<br><br><br>
<h1 style="text-align: center;">icon-list</h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>tepezza-organisms-icon-list}}
      </div>
    </div>
  </div>
</section>
<section>
  <h1 style="text-align:center;">content carousel</h1>
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{>tepezza-organisms-content-carousel}}
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>
  <br><br><br><br>
  <h1 style="text-align: center;">peoples list </h1>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{#peopleList}}
            {{>tepezza-organisms-people-list}}
          {{/peopleList}}
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br><br><br><br><br>
  <h1 style="text-align: center;">icon checklist</h1>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{#iconchecklist}}
            {{>starterkit-molecules-checklistHeading}}
          {{/iconchecklist}}
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br><br>
  <h1 class="text-center">responsive pivot table</h1>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{>tepezza-organisms-responsive-table}}
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>
  <br><br><br><br><br><br>



  <h2 class="text-center">Video Component</h2>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{>tepezza-organisms-video-component}}
        </div>
      </div>
    </div>
  </section>


  <br><br><br><br>


  <h2 class="text-center">Social Links</h2>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {{>tepezza-organisms-social-links}}
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- Isi section -->
  <!-- <section class="important-information">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>tepezza-organisms-tepezza-isi}}
      </div>
    </div>
  </div>
</section>

<section>
</section>

<section>
  {{#isiFixedSelector}}
  {{>tepezza-organisms-tepezza-isi}}
  {{/isiFixedSelector}}
</section> -->
  <!-- isi Fixed panel -->
  <!-- Footer -->
  {{#commonHeaderFooterData}}
    <!-- Footer -->
    <section class="hz-footer-wrapper mb0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{>tepezza-organisms-footer}}
          </div>
        </div>
      </div>
    </section>
  {{/commonHeaderFooterData}}