.cta-btn {
  padding: 12px;
  width: 360px;
  border-radius: 30px;
  /*background-image: -o-linear-gradient(305deg, #d7187e, #7c2468);*/
  background-image: linear-gradient(145deg, #d7187e, #7c2468);
  color: #ffffff;
  font-family: "LatoWebRegular", sans-serif !important;
  font-size: 22px;
  font-weight: normal !important;
  letter-spacing: 0.38px;
  margin: 40px auto;
  display: block;
  border: none;

  &:hover{
    background-image: linear-gradient(145deg, #d7187e, #7c2468);
    text-decoration: none;
    // background-color: #671151;
    color: #fff !important;
  }
  @media(max-width: $mobile) {
    width: 100%;
    height: auto;
    margin: 18px auto;
  }

  @media(max-width: 360px) {
    font-size: 18px;
  }
  &:after{
    display: none !important;
  }
  &:hover:after {
    display: none !important;
  }
}
