.img-txt-stacked {
  .txt-cta-wrap {
    padding: 10px 0px;

    h3 {
      &.img-cta-heading {
        font-size: 26px;
        letter-spacing: 0.45px;
        color: #7c2468;
        margin: 0;

        @media  (max-width: 1023px) {
          font-size: 34px;
        }
      }

      &.multicolumn-text-heading {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.06px;
        color: #7c2468;
        padding: 0px 26px;

        @media  (max-width: 1023px) {
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: 0.05px;
          padding: 0px 10px;
        }
      }
    }

    p {
      &.img-cta-content {
        font-size: 20px;
        letter-spacing: 0.35px;
        color: #555555;

        @media  (max-width: 1023px) {
          font-size: 22px;
          line-height: normal;
        }

        span {
          display: block;
          font-size: 26px;
          line-height: 1.15;
          letter-spacing: 0.45px;
          margin: 5px 0;
          color: #7c2468;

          @media  (max-width: 1023px) {
            font-size: 34px;
          }
        }
      }

      &.multicolumn-text-content {
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.35px;
        color: #555555;

        @media  (max-width: 1023px) {
          font-size: 18px;
          line-height: 1;
          letter-spacing: 0.31px;
        }

        span {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.6;
          letter-spacing: 0.35px;
          color: #d51a7c;
        }
      }

      a {
        text-decoration: underline;
        display: inline-block;
        font-size: 20px;
        color: #d61a7d;
      }
    }
  }
}
