<section>
  <div class="row">
    <div class="col-md-12">
      <div class="container">

        <form action="" novalidate="novalidate" id="signup" method="post">
          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="surveyWizard" name="surveyWizard" autocomplete="off" class="form-check-input user-describe-three" data-val="true" type="checkbox" ga-tag="radio" data-val-required required>
              <label class="form-check-label " for="surveyWizard">None</label>
            </div>
          </div>
          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="surveyWizard2" name="surveyWizard2" autocomplete="off" class="form-check-input user-describe-three" data-val="true" type="checkbox" ga-tag="radio" data-val-required required>
              <label class="form-check-label " for="surveyWizard2">Supplements or vitamins (like selenium)</label>
            </div>
          </div>
          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="surveyWizard3" name="surveyWizard3" autocomplete="off" class="form-check-input user-describe-three" data-val="true" type="checkbox" ga-tag="radio" data-val-required required>
              <label class="form-check-label " for="surveyWizard3">Steroids</label>
            </div>
          </div>
          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="surveyWizar4" name="surveyWizar4" autocomplete="off" class="form-check-input user-describe-three" data-val="true" type="checkbox" ga-tag="radio" data-val-required required>
              <label class="form-check-label " for="surveyWizar4">Surgery</label>
            </div>
          </div>
          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="surveyWizar5" name="surveyWizar5" autocomplete="off" class="form-check-input user-describe-three" data-val="true" type="checkbox" ga-tag="radio" data-val-required required>
              <label class="form-check-label " for="surveyWizar5">Others</label>
            </div>
          </div>

          <button type="submit" class="cta-btn" ga-tag="submit" style="cursor: pointer;">Submit</button>
        </form>

        <br>
        <br>


        <form action="" novalidate="novalidate" id="signup" method="post">

          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="UserType" name="UserType" autocomplete="off" class="form-check-input" type="radio" data-val-range="" data-val-range-min="True" data-val-range-max="True" value="true" ga-tag="radio" data-val-required="">
              <label class="form-check-label " for="UserType"><span>Patient</span></label>
            </div>
            <span class="field-validation-error" data-valmsg-for="UserType" data-valmsg-replace="true"></span>
          </div>

          <div class="radio-button-wrap">
            <div class="form-check ">
              <input id="UserTypeTwo" name="UserType" autocomplete="off" class="form-check-input" type="radio" data-val-range="" data-val-range-min="True" data-val-range-max="True" ga-tag="radio" value="true" data-val-required="">
              <label class="form-check-label " for="UserTypeTwo"><span>Caregiver</span></label>
            </div>
            <span class="field-validation-error" data-valmsg-for="UserTypeTwo" data-valmsg-replace="true"></span>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <h2>Thank You!</h2>
        <h4 class="padding-medium">Unlike other treatments you may have tried, TEPEZZA treats the cause of TED, not just the symptoms.</h4>
        <a href="#">See how TEPEZZA works</a>
      </div>
    </div>
  </div>
</section>