{{#commonHeaderFooterData}}
<div class="hz-header-space"></div>
<section class="hz-header-wrap">
  <div class="gout-box grey-bg visible-mobile">
    <p>A Gout Nurse Advocate can answer<br> your questions. <a href="tel:0">Call 833-4MY-GOUT</a></p>
  </div>
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">
        <!-- Header starts -->
          {{#header}}
            <div class="header">
              <div class="wrapper">
                <div class="top-container">
                  <a href="#" class="icon-home visible-mobile">
                    <img src="../../images/krystexxa/icon-home.svg" alt="">
                  </a>
                  <div class="logo-wrapper">
                    <div class="logo">
                      <a href="#" class="logo-container">
                         {{>starterkit-atoms-logo}}
                      </a>
                    </div>
                  </div>
                  <div class="top-nav-links visible-desktop">
                    {{>starterkit-molecules-top-navigation}}
                  </div>
                  <div class="gout-box grey-bg visible-desktop">
                    <p>A Gout Nurse Advocate can <br>answer your questions.<br> <a href="tel:0">Call 833-469-4688</a></p>
                  </div>
                </div>
                <div class="bottom-container">
                  <div class="nav-wrapper">
                    <div class="hamburger visible-mobile">
                      <div class="menuIcon">
                      </div>
                    </div>
                    <div class="menu-wrapper">
                      <div class="nav-bar">
                        <a href="#" class="active icon-home visible-desktop">
                          <img src="../../images/krystexxa/icon-home.svg" alt="">
                        </a>
                          {{>starterkit-molecules-main-navigation}}
                        <div class="top-nav-links visible-mobile">
                          {{>starterkit-molecules-top-navigation}}
                        </div>
                      </div>
                    </div>
                    <div class="col search">
                      <span class="search-toggle"></span>
                      <div class="search-inner">
                        <div class="search-field">
                          {{>starterkit-molecules-header-search}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/header}}
        <!-- Header ends -->
      </div>
    </div>
  </div>
</section>
{{/commonHeaderFooterData}}


<!-- Text banner comp -->

{{>starterkit-molecules-text-banner-withimage}}
<br><br>


<h1 style="text-align: center;">hotspots</h1>
<section class="bg-pink-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>krystexxa-organisms-hotspots}}
      </div>
    </div>
  </div>
</section>
<br><br><br>
<br>
<br>
<br>
<h1 style="text-align: center;">button</h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#krystexxaCta}}
        {{>starterkit-atoms-button-primay}}
        {{/krystexxaCta}}
      </div>
    </div>
  </div>
</section>
<br><br>

<br>
<br>
<section class="padding-large hidden-mobile bg-gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{>starterkit-organisms-text-carousel }}
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="padding-large hidden-mobile bg-lightGrey">
	<div class="container">
		<div class="row">
			{{>krystexxa-organisms-content-carousel }}
		</div>
	</div>
</section>
<br>
<br>
<br>

<br>
<br>
<br>
<section class="padding-large bg-gradient">
	<div class="container">
		<div class="row">
			{{>krystexxa-organisms-content-carousel-v2 }}
		</div>
	</div>
</section>
<br>
<br>
<br>

<section class="padding-medium bg-lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="phonetic-section">
          <img src="../../images/krystexxa/mic.png" alt="mic">
          <h3>KRYSTEXXA  <span>(KRIS-TEX-UH)</span></h3>
          <a href="#" class="cta-btn">
            <audio controls=false id="phoneticKXX">
              <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg">
              <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            Hear it pronounced
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding-large">
  <div class="container">
    <div class="row">
    	{{>krystexxa-organisms-two-column-content-split}}
    </div>
  </div>
</section>

<section class="bg-lightGrey padding-large">
  <div class="container">
    <div class="row m-reverse">
    	{{>krystexxa-organisms-two-column-content-split-v2}}
    </div>
  </div>
</section>

<br>
<br>
<br>

<section class="padding-large">
  <div class="container">
    <div class="row">
    	{{>krystexxa-organisms-two-column-content-split-variation2}}
    </div>
  </div>
</section>


<section class="padding-large">
  <div class="container">
    <div class="row">
    	{{>krystexxa-organisms-two-column-content-split-variation3}}
    </div>
  </div>
</section>

<br>
<br>
<br>
<section class="bg-lightGrey padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#numberedBoxes-KXX}}
        {{>starterkit-organisms-numbered-boxes }}
        {{/numberedBoxes-KXX}}
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<section class="bg-lightGrey padding-large">
  <div class="container">
    <div class="row">
      {{#imageCtaBox2Column-KXX}}
      {{>starterkit-organisms-image-cta-box-2-column }}
      {{/imageCtaBox2Column-KXX}}
    </div>
  </div>
</section>
<br>
<br>
<h1 style="text-align: center;">text-image</h1>
<section class="bg-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-text-with-image}}
      </div>
    </div>
  </div>
</section>
<br>
<br>
<h1 style="text-align: center;">Video Box</h1>
<section>
  <div class="container-small">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-video-box}}
      </div>
    </div>
  </div>
</section>
<br>
<br>
<!-- Image carousal comp -->
<br><br>
<h1 style="text-align: center;">Image carousal</h1>
<section class="bg-gradient padding-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-image-carousel-only-image}}
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!-- Image Text CTA Multicolumn - Stacked Start -->
{{#krystexxaCarouselStacked}}
<section class="{{ sectionBG }} padding-large">
  <div class="container">
    <div class="row">
      {{>krystexxa-organisms-image-text-cta-multicolumn}}
    </div>
  </div>
</section>
{{/krystexxaCarouselStacked}}
<!-- Image Text CTA Multicolumn - Stacked end -->
<br>
<br>
{{#krystexxaCarouselStackedV2}}
<section class="{{ sectionBG }} padding-large">
  <div class="container">
    <div class="row">
      {{>krystexxa-organisms-image-text-cta-multicolumn-v2}}
    </div>
  </div>
</section>
{{/krystexxaCarouselStackedV2}}
<br>
{{#krystexxaCarouselStackedV3}}
<section class="{{ sectionBG }} padding-large">
  <div class="container">
    <div class="row">
      {{>krystexxa-organisms-image-text-cta-multicolumn-v2}}
    </div>
  </div>
</section>
{{/krystexxaCarouselStackedV3}}
<!-- Image Text CTA Multicolumn - side Start -->
{{#krystexxaCarouselSide}}
<section class="{{ sectionBG }} padding-large">
  <div class="container">
    <div class="row">
      {{>krystexxa-organisms-image-text-cta-multicolumn-split}}
    </div>
  </div>
</section>
{{/krystexxaCarouselSide}}
<!-- Image Text CTA Multicolumn - side end -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1 style="text-align: center;">video scrubber</h1>
<section class="bg-grey-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           {{>krystexxa-organisms-video-scrubber}}
      </div>
    </div>
  </div>
</section>

<h1 style="text-align: center;">button-list</h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-molecules-button-list}}
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br>
<br><br><br><br><br><br>
<h1 style="text-align: center;">button variants classes </h1>
<br><br>
<section>
  <h3 style="text-align: center;">button variants only desktop arrow </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#onlyDesktopButton}}
        {{>starterkit-atoms-button}}
        {{/onlyDesktopButton}}
      </div>
    </div>
  </div>
  <br><br>
  <h3 style="text-align: center;">button variants classes only mobile arrow </h3>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#onlyMobileButton}}
        {{>starterkit-atoms-button}}
        {{/onlyMobileButton}}
      </div>
    </div>
  </div>
  <br><br>
  <h3 style="text-align: center;">button variants classes both desktop and mobile </h3>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#bothMobileDesktop}}
        {{>starterkit-atoms-button}}
        {{/bothMobileDesktop}}
      </div>
    </div>
  </div>
  <br><br>
  <h3 style="text-align: center;">button without caret</h3>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#buttonWithoutCaret}}
        {{>starterkit-atoms-button}}
        {{/buttonWithoutCaret}}
      </div>
    </div>
  </div>
</section>
<br><br>
<!-- list bullets  -->
<h1 style="text-align: center;">list-bullets</h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#listDemo}}
        {{>starterkit-atoms-list}}
        {{/listDemo}}
      </div>
    </div>
  </div>
</section>
<h1 style="text-align: center;">list-bullets-first-variation</h1>
<section>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="list-wrap-two">
          <ul>
            <li>Gout flares</li>
            <li>Alleric reactions</li>
            <li>IV treatment reactions</li>
          </ul>
          <ul>
            <li>Nausea</li>
            <li>Bruising</li>
            <li>Sore throat</li>
          </ul>
          <ul>
            <li>Constipation</li>
            <li>Chest pain</li>
            <li>Vomiting</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br>
<h1 style="text-align: center;">list-bullets-second-variation</h1>
<section>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="list-wrap-two">
          <ul>
            <li>Recurrent gout</li>
            <li>Advanced gout</li>
            <li>Refactory gout</li>
          </ul>
          <ul>
            <li>Tophaceous gout</li>
            <li>chronic goutry arthritis</li>
            <li>Persistent gout</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#imageCarouselVariation2}}
        {{>starterkit-organisms-image-carousel-only-image}}
        {{/imageCarouselVariation2}}
      </div>
    </div>
  </div>
</section>
<section class="bg-lightGrey padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-icon-list}}
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">
        {{>krystexxa-organisms-banner-imagecomponent}}
      </div>
    </div>
  </div>
</section>

<section class="bg-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-text-carousel}}
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient padding-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>krystexxa-organisms-content-box-with-image}}
      </div>
    </div>
  </div>
</section>
<br><br><br>
<h1 style="text-align: center;">Vertical Timeline</h1>
<section>
  <div class="row">
    <div class="container">
      {{>krystexxa-organisms-vertical-timeline}}
    </div>
  </div>
</section>

<br><br><br><br><br><br>
<section class="padding-large">
{{#accordion-list-KXX}}
		<div class="container-medium section-heading">
			<div class="row">
				<div class="col-md-12">
					{{>starterkit-atoms-headings}}
				</div>
			</div>
		</div>
	<div class="container-medium">
		<div class="row">
			<div class="col-md-12">
				{{>krystexxa-organisms-accordion}}
			</div>
		</div>
	</div>
{{/accordion-list-KXX}}
</section>
<!-- Isi section -->
<section class="important-information">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>krystexxa-organisms-isi-krystexxa}}
      </div>
    </div>
  </div>
</section>
<section>
  {{#isiFixedSelector}}
  {{>krystexxa-organisms-isi-krystexxa}}
  {{/isiFixedSelector}}
</section>
<!-- isi Fixed panel -->
<!-- Footer -->
{{#commonHeaderFooterData}}
<section class="hz-footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{>starterkit-organisms-footer-generic}}
      </div>
    </div>
  </div>
</section>
{{/commonHeaderFooterData}}
