/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$black: #000000;
$white: #ffffff;
$green: #005133;

/* Fonts */
 
$tir:"TiresiasInfofont";
$tirinfoz:"TiresiasInfofontZ";
$tirsign:"TiresiasSignfont";
$tirpc:"TiresiasPCfont";
$tirpcz:"TiresiasPCfontZ";
$tirsignfontz:"TiresiasSignfontZ";



/* Media Queries */
$mobile: 767px;
$desktop: 1024px;
$tab-portrait: 768px;
$tab-landscape: 1023px;
