{{#contentCarousalv2}}
<div class="content-carousel-wrap {{carousalWrapperClass}}">
  <h2>Real results with TEPEZZA</h2>
  <div class="content-carousel {{carousalName}}">
    {{#carousalContent}}
    <div class="carousal-content {{sliderVariation}}">
      {{#carouselDivParent}}
      <div class="carousel-parent">
        {{#leftSection}}
        <div class="left-content">
          {{#imgSection}}
          {{>starterkit-atoms-images}}
          {{#secondImage}}
          {{>starterkit-atoms-images}}
          {{/secondImage}}
          {{/imgSection}}
          <div class="img-text-section">
            {{#textSection}}
            {{>starterkit-atoms-paragraph}}
            {{/textSection}}
          </div>
        </div>
        {{/leftSection}}
        {{#rightSection}}
        <div class="right-content">
          {{#imgSection}}
          {{>starterkit-atoms-images}}
          {{#secondImage}}
          {{>starterkit-atoms-images}}
          {{/secondImage}}
          {{/imgSection}}
          <div class="img-text-section">
            {{#textSection}}
            {{>starterkit-atoms-paragraph}}
            {{/textSection}}
          </div>
        </div>
        {{/rightSection}}
      </div>
      {{/carouselDivParent}}
    </div>
    {{/carousalContent}}
  </div>
  <div class="bottom-para">
    <p>Real patients treated with TEPEZZA in a clinical study. Individual results may vary.</p>
  </div>
</div>
{{/contentCarousalv2}}
