{{#newmulticolumn}}
	<div class="col-md-{{column}} multicolumncontent {{bgColor}} {{multiColumnParentDiv}}">
   <p>
   	 
		{{#imgVar}}
			{{>starterkit-atoms-images}}
		{{/imgVar}}

		<a href="{{anchorLink}}" class="{{anchorClass}}">{{anchorTxt}}  </a>
		
		{{#spanVar}}
		<span class="{{spanClass}}">{{spanTxt}} </span>
		{{/spanVar}}
    
	</p>
	</div>
{{/newmulticolumn}}

