{{#socialLinkConsumer}}


<div class="social-links">

    <span><p>{{Socialtext}}</p></span>

    {{#headerSocialFb}}
        {{#imageList}}
            <a href="#"><span>{{imgTxt}}</span><img src="{{imgPath}}" alt="{{imgAlttxt}}" class="{{imgClass}}"></a>
        {{/imageList}}
    {{/headerSocialFb}}	
</div>

{{/socialLinkConsumer}}