{{#tepezzaIsi}}
<div class="isi-tray-wrapper {{selectorFixedClass}}">
  <div class="isi-tray-main-div">
    {{>starterkit-atoms-headings}}

    <div class="buttons">
      {{>starterkit-atoms-links}}
    </div>

    <div class="isi-content-body">
     {{#headPara}}
       {{>starterkit-atoms-headings}}
      {{/headPara}}

      <div class="isi-subheading">
      {{#subHeading}}
         {{>starterkit-molecules-heading-with-paragraph}}
         {{#headingSub}}
         {{>starterkit-atoms-headings}}
         {{/headingSub}}

   

        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>High blood pressure</li>
                <li>Fast heartbeat</li>
                <li>Redness of the face / Feelng hot</li>
              </ul>
      

            </div>
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>Difficulty breathing</li>
                <li>Headache</li>
                <li>Muscle Pain</li>
              </ul>
         
         
            </div>
          </div>
        </div>

      {{/subHeading}}
      </div>

      {{#isiTop}}
        {{>starterkit-atoms-paragraph}}
      {{/isiTop}}
      {{#isiCenter}}
        {{>starterkit-atoms-headings}}
         <ul>
           <li>Have inflammatory bowel disease (Crohn’s disease or ulcerative colitis)</li>
           <li>Are currently being treated for diabetes, have been diagnosed with diabetes, or know your blood sugar is high</li>
           <li>Are pregnant or plan to become pregnant. TEPEZZA may harm your unborn baby. Tell your doctor if you become pregnant or suspect you are pregnant during treatment with TEPEZZA.
           <ul>
            <li>Women who are able to become pregnant should use an effective form of birth control (contraception) prior to starting treatment, during treatment and for at least 6 months after the final dose of TEPEZZA.</li>
           
           </ul>
           </li>
           <li>Are breastfeeding or plan to breastfeed. It is not known if TEPEZZA passes into your breast milk. Talk to your doctor about the best ways to feed your baby during treatment with TEPEZZA.</li>
           <li>Tell your doctor about all the medicines you take, including prescription and over the counter medicines, vitamins, dietary and herbal supplements. Know the medicines you take. Keep a list of them to show your doctor and pharmacist when you get a new medicine</li>
         </ul>
      {{/isiCenter}}

      {{#isiEnd}}
       {{>starterkit-molecules-heading-with-paragraph}}
       {{#Endisi1}}
       {{>starterkit-atoms-paragraph}}
       {{/Endisi1}}
       {{#Endisi2}}
       {{>starterkit-atoms-paragraph}}
       {{/Endisi2}}
      {{/isiEnd}}
      {{#isiBottom}}
       {{>starterkit-molecules-heading-with-paragraph}}
      {{/isiBottom}}
    </div>
  </div>
</div>
{{/tepezzaIsi}}
